block variables
  -var title = 'Биография Ивана'
  -var worker = 'select'

include includes/header.pug
center
  img(src="img/3.png", width="670")
p.person-name Иван, 29 лет.
.person-info.center
  p
    b.red Иван
    |  - молодой и талантливый специалист в области бурения скважин, чья биография полна решимости и стремления к успеху.
  p
    | Он родился и вырос в небольшой деревне, где с детства был завязан интерес к земле и природе. Его родители, работая на местном фермерском хозяйстве, всегда уделяли большое внимание вопросам экологии и природных ресурсов, что повлияло на 
    b.pink Ивана
    |  и сделало его увлечением исследование и бурение скважин.
  p
    | Получил образование в области геологии и инженерии в местном университете, где проявил себя как талантливый студент. Его усердие и стремление к знаниям привлекли внимание преподавателей, и он был быстро замечен как один из лучших в своей области.
  p
    | После окончания университета 
    b.blue  Иван
    |  начал свою карьеру в компании 
    b.red  РОМНЕФТЬ
    | , специализирующейся на добычи нефти. Его решимость, профессионализм и способность адаптироваться к различным условиям помогли ему быстро продвигаться вверх по карьерной лестнице.
  p
    | В настоящее время является ведущим инженером и отвечает за проведение сложных буровых работ. Он активно участвует в разработке новых технологий и методов бурения, с упором на эффективность и экологическую безопасность.родных ресурсов и внедрения экологически чистых технологий в индустрии бурения скважин.
  p
    | Его работа не только приносит пользу компании, но и способствует улучшению водоснабжения в регионе, где он вырос.
    |  В свои 
    b.blue 29 лет
    |  он уже добился многого, и его будущее полно перспектив. Его история служит примером того, как решимость и усердие могут привести к успеху.
include includes/footer.pug
