extends template

block variables
  -var title= 'Нефтегазовая компания'
  -var index= 'select'

block content
  .grid-container

    +addImage('img/1.png', 'white', 'Вышка P2000', 'Вышка P2000 - это современное и мощное сооружение, предназначенное для добычи нефти и природного газа из глубин земли. Благодаря передовым технологиям и инновационным решениям, эта вышка обеспечивает максимальную эффективность и безопасность процесса добычи, способствуя устойчивому развитию нефтегазовой отрасли.')
    
    +addImage('img/2.png','red','Красота и мощь!','Гармония заката и нефтегазовой вышки на фоне бескрайнего горизонта. РОМНЕФТЬ - это нефтегазовая компания, которая начала свою деятельность в 1953 году. Компания специализируется на добыче и переработке нефти, а также разработке новых технологий и методов для обеспечения экологической безопасности.')
    
    +addImage('img/3.png','blue','Работники РОМНЕФТИ','Иван - молодой и талантливый специалист в области бурения скважин, чья биография полна решимости и стремления к успеху. Он родился и вырос в небольшой деревне, где с детства был завязан интерес к земле и природе. Его родители, работая на местном фермерском хозяйстве, всегда уделяли большое внимание вопросам экологии и природных ресурсов, что повлияло на Ивана и сделало его увлечением исследование и бурение скважин.')
   
    +addImage('img/4.png','red','Прокладывание новой газовой магистрали.','Ожидаемая окупаемость инвестиций в нефтегазовую вышку зависит от множества факторов:')
    
    +addImage('img/5.png','blue','Нефтяная вышка в ХМАО. 2023 год, фото в цвете.','Вышка спроектирована для добычи как нефти, так и природного газа. Ее производительность оценивается в несколько сотен баррелей нефти и миллионов кубических метров газа в день. Эффективное использование современных технологий и оборудования обеспечивает высокую производительность.')
    
    +addImage('img/6.png','white','Закат на базе в Татарстане. Лето, 2019 год.','Компания также всегда заботится о своих акционерах. Регулярные выплаты дивидендов и устойчивая стоимость акций делают РОМНЕФТЬ привлекательным вариантом для инвестиций. Акционеры компании могут быть уверены в надежности своих инвестиций и стабильном доходе.')

    +addImage('img/7.jpg','white','База компании РОМНЕФТЬ, расположенная в Омске.','Мы осознаем свою ответственность перед обществом и окружающей средой, поэтому наша деятельность направлена на обеспечение экологической безопасности и минимизацию воздействия на окружающую среду. Мы также стремимся к созданию благоприятных условий для наших сотрудников, обеспечивая им конкурентоспособную заработную плату, социальные гарантии и возможности для профессионального развития.')
    
    +addImage('img/8.jpg','red','Закат в Ямало-Ненецком автономном округе.','Мы постоянно совершенствуем наши технологии и методы работы, чтобы обеспечить максимальную эффективность и безопасность на всех этапах производства. Наша цель - обеспечить устойчивое развитие отрасли и внести свой вклад в энергетическую безопасность страны.')

    +addImage('img/9.png','blue','Нефтегазовая вышка РОМНЕФТЬ. Восточная часть Сибири.', 'Нефтегазовая вышка имеет высокую металлическую конструкцию с множеством труб и оборудования. Она окрашена в характерный цвет, соответствующий стандартам для таких сооружений.')