.error {
    border: solid thin red;
}

.height-img {
    display: none;
}

.height-inputs {
    display: none;
}

#side p,
#height p {
    display: inline-block;
    width: 230px; 
    margin: 0;
}

.side-img,
.height-img {
    float: right;
}

.block {
    float: left;
}

.text {
    color: red;
}